body {
  background-color: #dde6ed;
  padding: 0;
  margin: 0;
  height: 100%;
}

section {
  scroll-margin-top: 150px;
}

.header-container {
  background-color: rgb(39, 55, 77);
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.img-container {
  height: 100px;
}

.nav-link {
  color: #9db2bf;
}

/* Add Promotions Carousel */
.promo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dde6ed;
  border-radius: 10px;
  margin-top: 106px;
  max-height: 100px;
  padding: 0;
}

.promotion-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #27374d;
  background-color: #dde6ed;
  border-radius: 10px;
}

.text-svg-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dde6ed;
  border-radius: 10px;
}

.text-svg-container svg {
  margin-right: 25px;
  color: #27374d;
}

@media (max-width: 990px) {
  .promo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dde6ed;
    border-radius: 10px;
    margin-top: 200px;
    max-height: 100px;
  }

  .promotion-container h4 {
    font-size: 15px;
  }
}

@media (max-width: 600px) {
  .promo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dde6ed;
    border-radius: 10px;
    margin-top: 200px;
    max-height: 100px;
  }

  .promotion-container h4 {
    font-size: 15px;
  }
}

@media (max-width: 430px) {
  #row-div {
    margin-top: 20px;
    max-height: 100px;
  }

  .promotion-container h4 {
    font-size: 15px;
  }
}

/* Jumbotron CSS */
#jumbotron-container {
  height: auto;
  background-color: #27374d;
  border-radius: 10px;
}

#text-bg {
  width: 100vw;
  height: auto;
}

#jumbo-h1 {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  font-size: 50px;
  color: #9db2bf;
}

#jumbo-p {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  font-size: 25px;
  color: #9db2bf;
}

@media (max-width: 990px) {
  #jumbotron-container {
    display: flex;
    height: auto;
    max-width: 665px;
  }

  #jumbo-h1 {
    font-size: 36px;
  }

  #jumbo-p {
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  #jumbotron-container {
    display: flex;
    height: auto;
    max-width: 400px;
  }

  #jumbo-h1 {
    font-size: 28px;
  }

  #jumbo-p {
    font-size: 14px;
  }
}

/*Contact Us Email and Phone About Services*/
#todd-image {
  float: left;
  margin-right: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.feature-icon-small {
  height: 40px;
  width: 40px;
  margin-right: 10px;
  background-color: #27374d;
}

.bi {
  color: #dde6ed;
}

.col-h4 h4 {
  color: #27374d;
}

.about-container h2 {
  color: #27374d;
  border-bottom: 1px solid #9db2bf;
}

/*Just Finished Jobs*/
.jobs-container h2 {
  color: #27374d;
  border-bottom: 1px solid #9db2bf;
}

.card {
  background-size: cover;
  background-position: center;
  height: 380px;
}

/*Carousel Finished Jobs*/
.carousel-item img {
  height: 700px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

#my-carousel {
  border-radius: 10px;
}

/* Before you go CSS */
.feature-icon {
    background-color: #27374d;
}

/* footer Index */
.footer-border {
    border-top: 1px solid #9db2bf;
}

.facebook-icon {
    background-color: #27374d;
}

/* Services Page */
.top-services {
    margin-top: 100px;
    color: #9DB2BF;
    background-color: #27374D;
    border-radius: 20px;
}

@media (max-width: 995px) {
    .top-services {
        margin-top: 180px;
    }
}

@media (max-width: 430px) {
    .top-services {
        margin-top: 220px;
    }
}

.card {
    border-radius: 10px;
}

.card-body {
    display: flex;
    background-color: #9DB2BF;
    min-height: 100px;
    border-radius: 0 0 10px 10px;
}

.card img {
    border-radius: 10px 10px 0 0;
    height: 280px;
    width: 100%;
    object-fit: cover;
}

.card-text {
    color: #27374D;
}

/* Contact Section */
.card-contact {
    background-color: #27374D;
}

#custom-cards-contact {
    margin-top: 100px;
}

#custom-cards-contact h2 {
    color: #27374D;
    border-bottom: 1px solid #9db2bf;
}

.contact-button {
    text-decoration: none;
}

.contact-card-text {
    color: #9DB2BF;
}

.contact-card-icon svg{
    color: #9DB2BF;
}

.text-email-phone {
    color: #9DB2BF;
    font-size: 1.3rem;
}


@media (max-width: 430px) {
    #custom-cards-contact {
        margin-top: 180px;
    }
}

@media (max-width: 915px) {
    #custom-cards-contact {
        margin-top: 180px;
    }
}

/* Gallery Section */
.gallery-container-top {
    margin-top: 140px;
    color: #9DB2BF;
    background-color: #27374D;
    border-radius: 20px;
}

.card-full-image {
    position: relative;
      overflow: hidden;
      height: 380px;
}

.card-full-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

@media (max-width: 995px) {
    .gallery-container-top {
        margin-top: 220px;
    }
}

@media (max-width: 430px) {
    .gallery-container-top {
        margin-top: 240px;
    }
}